.mediumLogo {
    max-width: 225px;
    max-height: 225px;
}

.imgHeaderIco {
    width: 30px;
    height: 30px;
}

.imgBeta {
    width: 50px;
    height: 60px;
    float:left;
}

.divInline {
    display:inline-block;
}

.centerListItem{
    vertical-align:middle !important;
}

.indentedDiv{
    margin-left: 50px; !important;
    margin-top: 20px; !important;
    margin-bottom: 40px; !important;
    padding: 0px; !important;
}

.selectPlanItem{
    margin-top: 5px;
    margin-bottom: 5px;
}

.submit{
    height: 20px;
    width: 20px;
}

.divCenter {	
    text-align: center;
}

.configError {
    margin-top: 10px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}