body {
  padding-top: 70px;
}
@media only screen and (max-width: 760px) {
  #counterWrapper { visibility: hidden;   display: none;}
}
#pageHeader img {
  width: 50px;
  height:50px;
}

#pageHeader span {
  margin-left: 5px;
}

.largeLogo{
  max-width: 275px;
  max-height: 275px;
}

.mediumLogo{
  max-width: 225px;
  max-height: 225px;
}

.clickable {
  cursor: pointer;
}

#loader {
  display: none;
  position:fixed;
  top: 5px;
  right: 5px;
  z-index: 9999;
}

#loader img {
  width: 32px;
  height: 32px;
}

.backButton {
  position: fixed;
  top: 0px;
  left: 0px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#counterWrapper {
  display:table;
  position: absolute;
  top: 5px;
  right: 5px;
  vertical-align:middle;
  font: 30px/1.5 'Open Sans Condensed',sans-serif;
}

#counterWrapper div {
  display:inline-block;
  vertical-align: middle;
}

#counterWrapper .postfix {
  margin-left: 5px;
/*   display:table-cell; */
/*   vertical-align: middle; */
/*   top:50%; */
/*   margin-top: -20px; */
/*   height: 40px; */
/*   position:absolute; */
}

.counter{
  display:inline-block;
  margin:0 auto;
  text-align:center;
/*   padding: 5px; */
/*   width:450px; */
/*   position: absolute; */
/*   top: 80px; */
/*   left: 0px; */
/*   z-index: 10px; */
/*   letter-spacing:-9px; */
}

.counter span{
  background-color:#444;
  background-image: linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -o-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -moz-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -webkit-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -ms-linear-gradient(bottom, #3A3A3A 50%, #444444 50%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, #3A3A3A),
    color-stop(0.5, #444444)
  );
  border-radius:0.2em;
  box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
  color:#fff;
  display: inline-block;
  letter-spacing:-1px;
  margin: 2px;
  overflow: hidden;
  position: relative;
  text-align:center;
  width: 1.05em;
}

